In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [4]:
df.sample(10)

    age  gender   review education purchased
1    68  Female     Poor        UG        No
33   89  Female     Good        PG       Yes
44   77  Female  Average        UG        No
12   51    Male     Poor    School        No
41   23    Male     Good        PG       Yes
11   74    Male     Good        UG       Yes
43   27    Male     Poor        PG        No
39   76    Male     Poor        PG        No
35   74    Male     Poor    School       Yes
32   92    Male  Average        UG       Yes

* we will only use review adn education and purchased columns*  
    * review and education -->oridnal enncdoing 
    * purchased --> lable encoding

In [5]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

# how Train_test_ split works

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(
    df.iloc[:,0:2],# Age , Gender  
    df.iloc[:,-1],#only purchased column
    test_size=00.2  # 20% of the data will be used as test data
    )

In [7]:
X_train

    age  gender
15   75    Male
16   59    Male
42   30  Female
2    70  Female
30   73    Male
21   32    Male
18   19    Male
23   96  Female
29   83  Female
27   69  Female
46   64  Female
5    31  Female
36   34  Female
9    74    Male
48   39  Female
10   98  Female
43   27    Male
7    60  Female
8    65  Female
14   15    Male
35   74    Male
41   23    Male
17   22  Female
32   92    Male
19   97    Male
11   74    Male
4    16  Female
1    68  Female
6    18    Male
24   16  Female
22   18  Female
28   48    Male
37   94    Male
26   53  Female
12   51    Male
0    30  Female
31   22  Female
13   57  Female
39   76    Male
40   39    Male

In [ ]:
from sklearn