In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [4]:
df.sample(10)

    age  gender   review education purchased
1    68  Female     Poor        UG        No
33   89  Female     Good        PG       Yes
44   77  Female  Average        UG        No
12   51    Male     Poor    School        No
41   23    Male     Good        PG       Yes
11   74    Male     Good        UG       Yes
43   27    Male     Poor        PG        No
39   76    Male     Poor        PG        No
35   74    Male     Poor    School       Yes
32   92    Male  Average        UG       Yes

* we will only use review adn education and purchased columns*  
    * review and education -->oridnal enncdoing 
    * purchased --> lable encoding

In [5]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df.iloc[:0:2]